@model CreateOfferViewModel
@{
}

<h1 class="title">Add Your Offer</h1>

<form class="main-form" asp-controller="Offer" asp-action="Add">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="@Model.Title"></label>
        <input asp-for="@Model.Title" type="text" id="title" class="form-input" />
        <span asp-validation-for="@Model.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.BreedId" class="dropdown-header">Breed</label>
        <select asp-for="@Model.BreedId" class="form-control">
            @foreach (var breed in Model.Breeds)
            {
                <option value="@breed.Id">@breed.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Price">Price</label>
        <input asp-for="@Model.Price" type="text" id="price" class="form-input" />
        <span asp-validation-for="@Model.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.ImageUrl">Image URL</label>
        <input asp-for="@Model.ImageUrl" type="text" id="imageUrl" class="form-input" />
        <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Description">Description</label>
        <input asp-for="@Model.Description" type="text" id="discription" class="form-input" />
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Location">Location</label>
        <input asp-for="@Model.Location" type="text" id="location" class="form-input" />
        <span asp-validation-for="@Model.Location" class="text-danger"></span>
    </div>
    <button class="create-button" type="submit">Create</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}

<style>

    .title {
        font-size: 28px;
        color: #204a87;
        text-align: center;
        margin-bottom: 20px;
    }

    .main-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 80%;
        max-width: 600px;
        margin: auto;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        background: #f9f9f9;
        border-radius: 10px;
    }

    .form-group {
        width: 100%;
        margin-bottom: 15px;
    }

    .form-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .create-button {
    width: 100%;
    padding: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }

    .create-button:hover {
        background-color: #0056b3;
    }

    .text-danger {
        color: #dc3545;
        text-align: center;
        width: 100%;
    }

</style>
