@model List<OfferViewModel>

@foreach (var item in Model)
{
    <div class="card">
        <img src="@item.ImageUrl" alt="@item.Breed" class="card-img" />
        <div class="card-body">
            <h4 class="card-title">@item.Title</h4>
            <p class="card-text">Breed: @item.Breed</p>
            <p class="card-text">Price: @item.Price $A</p>
            <form asp-controller="Offer" asp-action="Delete" asp-route-offerId="@item.OfferId" method="post"> <button class="delete-button">Delete</button> </form>
            
        </div>
    </div>
}

<style>
    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
        width: 300px;
        margin: 20px;
        border-radius: 10px;
        overflow: hidden;
        background-color: #f9f9f9;
        display: inline-block;
        position: relative;
    }

        .card:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

    .card-img {
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .card-body {
        padding: 15px;
        text-align: left;
    }

    .card-title {
        font-size: 20px;
        color: #333;
        margin-bottom: 5px;
    }

    .card-text {
        font-size: 16px;
        color: #666;
        margin-bottom: 10px;
    }

    .delete-button {
        padding: 10px 20px;
        background-color: #f44336;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .delete-button:hover {
            background-color: #d32f2f;
        }
</style>
